<div class="shell">
  <header class="topbar">
    <div class="brand" routerLink="/">S3 Browser</div>
    <ng-container *ngIf="user$ | async as user; else loginLink">
      <div class="user">
        <div class="name">Logged in as {{ user.username }}</div>
        <div class="access" [class.readonly]="user.accessLevel === 'READ_ONLY'">
          Access: {{ user.accessLevel === 'READ_WRITE' ? 'Read & write' : 'Read-only' }}
        </div>
        <button (click)="logout()">Logout</button>
      </div>
    </ng-container>
    <ng-template #loginLink>
      <a class="login-link" routerLink="/login">Login</a>
    </ng-template>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
